
  .content {
    padding: 5%;
    width: 50%;
    display: inline-grid;
    text-align: center
}

@media only screen and (max-width: 800px) {
    mat-grid-list{
      width: 100%;
    }
    .content {
      padding: 5%;
      width: 100%;
  
      text-align: center
  }
  
  }